@import "tailwindcss";

/* default colors */
:root {
  --txt-color: #ffffff;
  --bg-color: #1A1A1A;
  --bg-color2: #282929;
  --btn-color: #767676;
}

/* insert the color variables on body */
body {
  color: var(--txt-color);
  transition: .45s ease-in-out;
  background-color: var(--bg-color);
}